* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-image: url(Imagenes/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer{
    background-color: rgba(231, 231, 77, 0.5);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav{
    background-color: rgba(255, 136, 0, 0.73);
    padding: 9px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a{
    background-color: rgb(224, 224, 224);
    color: #700f0f;
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    box-shadow: 2px 5px 6px 3px rgb(138, 105, 105);
}

nav a:hover{
    background-color: #3a3838;
    color: #e20808;
    transform: scale(1.2);

}

img{
    width: 100%;
    margin: auto;
}

.logo{
    width: 140px;
}

.logo img{
    border-radius: 50%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: rgba(255, 255, 100, 0.3);
    margin: 15px 0;
    padding: 30px;
}

.col2img{
    width: 45%;
    margin: auto;
    display: block;
}

.col2{
    border: 1px dashed rgb(218, 218, 100);
    width:  47%px;
    box-shadow: 5px 5px 5px 5px rgb(173, 173, 173);
    padding: 20px;
}
.pequeña{
    width: 80%;
}

.col3{
    width: 30%;
}

body{
    margin-left: 40px;
    margin-right: 40px;
}

.Galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Galeria img {
    width: 200px;
    border-radius: 20px;
}

#dife{
    border-radius: 50%;
}
.imagen{
    width: 25%;
    margin: auto;
}

.imagen img{
    border-radius: 50%;
    border: 8px solid rgba(255, 136, 0, 0.73);
}

.imagen img:hover{
    filter: contrast(9);
    transform: scale(0.7);
}

.img_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
.img_productos img {
    width: 200px;
    border-radius: 20px;
  }

#producto1{
    filter: brightness(2);
    transform: scale(1.1);
}

#producto2{
    filter: grayscale(0.7);
    transform: scale(0.9);
}

#producto3{
    filter: drop-shadow(1);
    transform: scale(0.9);
}

#producto4{
    filter: invert(1);
    transform: scale(0.9);
}

#producto5{
    filter: opacity(70%);
    transform: scale(0.9);
}
